@model CandaWebUtility.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Enter your email", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input id="Email" class="form-control" type="email" value="" name="Email" data-val-email="The Email field is not a valid e-mail address." data-val="true">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@Html.Partial("ValidateDisableFix")